
/* General Styles */
body {
  font-family: "Open Sans", sans-serif;
  background: url("fondo1.jpg") no-repeat; /* Evita que la imagen se repita */
  background-size: 100%; /* Ajusta el tamaño de la imagen al 50% del contenedor */
  background-position: top -220px center; /* Coloca la imagen en la parte superior centrada */
  color: #000;
  margin: 0;
  padding: 0;
  
}


 
    
  

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background-color: #0c0b09;
  color: #fff;
  padding: 10px 0;
}

#header {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 15px;
  top: -5px;
  width: 100%;
  height: 50px;
  min-height: 50px; 
  margin: auto;
  background: rgba(0, 0, 0, 0.8); 
  position: relative;
}

#header.header-scrolled {
  top: 0;
  background: rgba(0, 0, 0, 0.85);
  height: 40px;
  left:10px;
}








/* menu 1*/
/* Estilo general */
.navbar {
  background: #000;
  padding: 10px 40px;
  display: flex;
  justify-content: end;
  font-family: 'Georgia', serif;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0 10px ;
  display: flex;
  align-items: center;
}

.navbar li {
  position: relative;
  margin: 0 10px;
}

/* Separadores | */
.navbar li:not(:last-child)::after {
  content: "|";
  color: white;
  margin-left: 10px;
}

/* Enlaces */
.navbar a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
 
}




/* Menú desplegable */
.navbar .menu-principal ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: black;
  padding: 10px;
  border: 1px solid #333;
  z-index: 1000;
  min-width: 180px;
}

.navbar .menu-principal:hover > ul {
  display: block;
}

.navbar .menu-principal ul li {
  margin: 5px 0;
}

.navbar .menu-principal ul li ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}
.navbar a:hover {
  color: #714400;
}


.navbar .menu-principal ul li:hover > ul {
  display: block;
}

/* Móviles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar ul {
    flex-direction: column;
    
  }

  .navbar li::after {
    content: "";
  }
}

 /* card */

 .page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
}
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}
.page-content {
  display: grid;
  grid-gap: 2rem; /* Espacio entre las tarjetas */
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
}

@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(3, 1fr); /* Ajustado para incluir 3 tarjetas */
  }
}

.card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
}

.card:nth-child(1):before {
  background-image: url("assets/img/historicos.png");
}

.card:nth-child(2):before {
  background-image: url("map.jpg"); /* Imagen para la tarjeta 2 */
}

.card:nth-child(3):before {
  background-image: url("assets/img/naturaleza.png"); /* Imagen para la tarjeta 3 */
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: center;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}

.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.009) 11.7%,
    rgba(0, 0, 0, 0.034) 22.1%,
    rgba(0, 0, 0, 0.072) 31.2%,
    rgba(0, 0, 0, 0.123) 39.4%,
    rgba(0, 0, 0, 0.182) 46.6%,
    rgba(0, 0, 0, 0.249) 53.1%,
    rgba(0, 0, 0, 0.32) 58.9%,
    rgba(0, 0, 0, 0.394) 64.3%,
    rgba(0, 0, 0, 0.468) 69.3%,
    rgba(0, 0, 0, 0.54) 74.1%,
    rgba(0, 0, 0, 0.607) 78.8%,
    rgba(0, 0, 0, 0.668) 83.6%,
    rgba(0, 0, 0, 0.721) 88.7%,
    rgba(0, 0, 0, 0.762) 94.1%,
    rgba(0, 0, 0, 0.79) 100%
  );
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}


/* Media Query para tablet */
@media (max-width: 1024px) {
  .card {
    top: -150px;
    left: 50px;
    width: 90%;
    padding: 1.5rem;
  }
}

/* Media Query para dispositivos móviles */
@media (max-width: 768px) {
  .card {
    top: -100px;
    left: 10px;
    width: 95%;
    padding: 1rem;
  }
}

/* Media Query para dispositivos más pequeños como smartphones en orientación vertical */
@media (max-width: 480px) {
  .card {
    top: -80px;
    left: 5px;
    width: 100%;
    padding: 0.8rem;
  }
}

/* Ajuste para pantallas mayores de 600px */
@media (min-width: 600px) {
  .card {
    height: 350px;
  }

}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.009) 11.7%,
    rgba(0, 0, 0, 0.034) 22.1%,
    rgba(0, 0, 0, 0.072) 31.2%,
    rgba(0, 0, 0, 0.123) 39.4%,
    rgba(0, 0, 0, 0.182) 46.6%,
    rgba(0, 0, 0, 0.249) 53.1%,
    rgba(0, 0, 0, 0.32) 58.9%,
    rgba(0, 0, 0, 0.394) 64.3%,
    rgba(0, 0, 0, 0.468) 69.3%,
    rgba(0, 0, 0, 0.54) 74.1%,
    rgba(0, 0, 0, 0.607) 78.8%,
    rgba(0, 0, 0, 0.668) 83.6%,
    rgba(0, 0, 0, 0.721) 88.7%,
    rgba(0, 0, 0, 0.762) 94.1%,
    rgba(0, 0, 0, 0.79) 100%
  );
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.card:nth-child(1):before {
  background-image: image-set(url(assets/img/historicos.png));
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}
.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}
.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}
.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}
.btn:hover {
  background-color: #0d0d0d;
}
.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}
@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }
  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }
  .card:hover,
  .card:focus-within {
    align-items: center;
  }
  .card:hover:before,
  .card:focus-within:before {
    transform: translateY(-4%);
  }
  .card:hover:after,
  .card:focus-within:after {
    transform: translateY(-50%);
  }
  .card:hover .content,
  .card:focus-within .content {
    transform: translateY(0);
  }
  .card:hover .content > *:not(.title),
  .card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }
  .card:focus-within:before,
  .card:focus-within:after,
  .card:focus-within .content,
  .card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}


@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}



/* Destacados */
.grid-destacados {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.personaje img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}



/* Responsividad */
@media (max-width: 768px) {
  .grid-destacados {
    grid-template-columns: 1fr;
  }

  h1, h2, h3 {
    font-size: 1.5rem;
  
  }
}
.introduccion {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea los elementos hacia la derecha */
  justify-content:flex-start; /* Centra verticalmente pero alineado a la derecha */
  background-color: #f8e3b6;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  margin: 70px auto;
  text-align: right; /* Alinea el texto hacia la derecha */
  font-family: 'Arial', sans-serif; /* Cambia el tipo de letra */
}

.introduccion h1 {
  color: #3c3400;
  margin-bottom: 20px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  font-family: 'Times New Roman', serif; /* Agrega un tipo de letra específico para el h1 */
}


h2 {
  font-size: 2em;
  color: #ffca2b;
  text-align: center;
  margin: 20px 0;
  position: relative;
}

h2::after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  background-color: #f8e3b6;
  margin: 10px auto;
}
.destacados {
  background-color: #f4f4f4;
  padding: 40px;
  text-align: center;
}

.destacados h2 {
  color: #3c3400;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.grid-destacados {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.personaje {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.personaje img {
  width: 100%;
  border-radius: 5px;
}

.personaje h3 {
  font-size: 1.8em;
  color: #ffca2b;
  margin: 15px 0;
}

.personaje p {
  font-size: 1.2em;
  color: #000;
}

